/* Styles not belonging to the jQuery mobile framework and/or theme roller */

/* Make more space for text in the header. */
.ui-header .ui-title {
	margin: 0 30px;
}

.footer-button-left, .footer-button-right {
	position: absolute;
	margin: 0;
	padding:0;
	top: auto;
	bottom: 0.24em;
}
.footer-button-left {
	left: 0.4em;
}
.footer-button-left a, .footer-button-right a {
	margin: 0;
}
.footer-button-right {
	right: 0.4em;
}

/* required fields in forms */
label.required:after {
	content: " *";
	font-weight: bold;
	color: red;
}
input:invalid {
	border:1px solid red;
}

.confirm-change label, .confirm-change span, .item-img-caption.confirm-change {
	background:#75B22A !important;
}
input.change-confirmed, textarea.change-confirmed {
	background:#75B22A !important;
}

.ajax-input, .check-ass, .prebook-text, .item-img-caption {
	transition: all 700ms;
}

#cat-img-preview {
	width: 100%;
	max-width:400px;
}

.cat-list-img {
	position: absolute;
	top: 0px;
	right: 0px;
	padding:0px;
}

.item-checked a {
	background-color:#75B22A !important;
}

#assigned-cat-access a, #assigned-cat-access p {
	/* Show whole assignment and access text even on small screens */
	white-space:normal;
}

.item-img-preview {
	width:100%;
}

.inactive a {
	color:grey !important;
}

/* User defined icons */
.ui-icon-carat-ll::after {
	background-image: url("/resources/carat-ll.png");
	background-size: 18px 18px;
}
.ui-icon-carat-rr::after {
	background-image: url("/resources/carat-rr.png");
	background-size: 18px 18px;
}

