/* Styles not belonging to the jQuery mobile framework and/or theme roller */

/* Define Friluftsframjandet custom colors */
:root {
    --FF-blue: #407EC9;
    --FF-lightblue: #72b2ff;
    --FF-cyan: #00A49D;
    --FF-green: #75B22A;
    --FF-yellow: #FBD600;
    --FF-pink: #DC0063;
    --FF-beige: #D0BA8A;
    --FF-orange: #E84F1C;
    --FF-gray: #54544A;
    --FF-busy: var(--FF-orange);
    --FF-free: #DDDDDD;
    --FF-blocked: repeating-linear-gradient(-45deg, var(--FF-busy), var(--FF-free) 3px, var(--FF-busy) 6px);
    --FF-unknown: url(/resources/unknown_bg.png);
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  20%,80% { opacity: 1; }
}

/* Make more space for text in the header. */
.ui-header .ui-title {
    margin: 0 30px;
}

.footer-button-left, .footer-button-right {
    position: absolute;
    margin: 0;
    padding:0;
    top: auto;
    bottom: 0.24em;
}
.footer-button-left {
    left: 0.4em;
}
.footer-button-left a, .footer-button-right a {
    margin: 0;
}
.footer-button-right {
    right: 0.4em;
}

.controlgroup-textinput {
    padding-top:0.22em;
    padding-bottom:0.22em;
}

/* required fields in forms */
label.required:after, legend.required:after, span.required:after {
    content: " *";
    font-weight: bold;
    color: red;
}
input:invalid {
    border:1px solid red;
}

.ui-btn.tooltip {
    background:none;
    border:0;
    margin:0;
}

.saved-indicator {
    position:fixed;
    top:-50px;
    right:20px;
    padding:5px;
    border-radius:5px;
    box-shadow:0 0 8px gray;
    background:var(--FF-green) !important;
    z-index:10;
    transition: all 1500ms;
}
.saved-indicator.saved {
    top:20px;
}

li.selected {
    background: var(--FF-blue) !important;
}

#cat-img-preview {
    width: 100%;
    max-width:400px;
}

.cat-list-img {
    position: absolute;
    top: 0px;
    right: 0px;
    padding:0px;
}

.item-checked a {
    background-color:var(--FF-green) !important;
}

#assigned-cat-access a, #assigned-cat-access p {
    /* Show whole assignment and access text even on small screens */
    white-space:normal;
}

.item-img-preview {
    width:100%;
}

.item-image {
    margin: 20px 0;
}
.item-image img {
    width: 100%;
    box-shadow: 1px 1px 5px gray;
}
.item-image label {
    font-size: small;
}

.inactive a {
    color:grey !important;
}

/* User defined icons */
.ui-icon-carat-ll::after {
    background-image: url("/resources/carat-ll.png");
    background-size: 18px 18px;
}
.ui-icon-carat-rr::after {
    background-image: url("/resources/carat-rr.png");
    background-size: 18px 18px;
}

.freebusy-bar {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom:10px;
    background-color: var(--FF-free);
    box-shadow: 1px 1px 5px gray;
}
.freebusy-bar.composed {
    height: 50px;
}

.freebusy-bar .freebusy-free,
.freebusy-bar .freebusy-busy,
.freebusy-bar .freebusy-blocked,
.freebusy-bar .freebusy-unknown,
.freebusy-bar .freebusy-tic {
    position: absolute;
    top: 0px;
    height: 100%;
}
.freebusy-free {
    background-color: var(--FF-free);
    z-index: 1;
}
.freebusy-busy {
    background-color:var(--FF-busy);
    z-index: 4;
}
.freebusy-blocked {
    background: var(--FF-blocked);
    z-index: 3;
}
.freebusy-unknown {
    left: 0px;
    width: 100%;
    background: var(--FF-unknown);
    z-index: 2;
}
.freebusy-tic {
    border-left:1px solid var(--FF-gray);
    z-index: 5;
}
.freebusy-tic span {
    background-color: #ffffffa0;
    box-shadow: 0px 0px 4px #ffffff;
}
