<p><font face="Arial, sans-serif">Hej {{name}}.</font></p>

<p><font face="Arial, sans-serif">En ny bokning har kommit in på Friluftsfrämjandets resursbokning.
Bokningen innehåller följande resurser där du är bokningsansvarig. Kolla i listan om det är något som
behöver bekräftas!</font></p>

<p><font face="Arial, sans-serif">Användare:<br><i>{{contactData}}</i></font></p>

<p><font face="Arial, sans-serif">Bokade resurser:</font></p>
<ul>{{items}}</ul>

<p><font face="Arial, sans-serif">Kommentar:<br><i>{{commentCust}}</i></font></p>

<p><font face="Arial, sans-serif"><a href='{{bookingLink}}'>Klicka här</a> för att se bokningen.</font></p>

<p><font face="Arial, sans-serif">Du måste vara inloggad för att se bokningen och bekräfta resurserna.</font></p>

<hr>

<p><font face="Arial, sans-serif">Detta är ett automatiskt meddelande från Friluftsfrämjandets resursbokning.
Det går inte att svara på det.</font></p>