<p><font face="Arial, sans-serif">Hej {{name}}.</font></p>

<p><font face="Arial, sans-serif">Du har ändrat epostadressen i dina kontaktuppgifter på Friluftsfrämjandets resursbokning till <b>{{new_mail}}</b>.
Klicka på länken nedan för att aktivera din epostadress:</p>

<p><a href="{{link}}">Aktivera adressen</a></p>

<p>Om du inte vet vad detta är kan du lugnt slänga meddelandet. Inget kommer att hända då, och världen kommer vara som den alltid har varit.</p>

<hr>

<p><font face="Arial, sans-serif">Detta är ett automatiskt meddelande från Friluftsfrämjandets resursbokning. Det går inte att svara på det.</font></p>