<p><font face="Arial, sans-serif">Hej {{name}}!</font></p>

<p><font face="Arial, sans-serif">Tack för din bokning på Friluftsfrämjandets resursbokning.</font></p>

<p><font face="Arial, sans-serif">{{status}}</font></p>

<p><font face="Arial, sans-serif"><a href='{{bookingLink}}'>Klicka här</a> för att hantera din bokning.</font></p>

<table border="1" cellspacing="0">{{items}}</table>

<ol style="list-style-type: parenthesized-lower-latin;">{{messages}}</ol>

{{contactData}}
<hr>

{{answers}}

<hr>

<p><font face="Arial, sans-serif">Kommentar till bokningen:<br><i>{{commentCust}}</i></font></p>

<hr>

<p><font face="Arial, sans-serif">Detta är ett automatiskt meddelande från Friluftsfrämjandets resursbokning. Det går inte att svara på det.</font></p>