<p><font face="Arial, sans-serif">Hej {{name}}.</font></p>

<p><font face="Arial, sans-serif">Du har precis tilldelats rollen {{role}} i
 <a href="{{link}}">Friluftsfrämjandets resursbokningssystem</a> (LA {{sectionName}}).</font></p>

<p><font face="Arial, sans-serif">Om detta kommer oväntat bör du ta kontakt med {{superadmin-name}} ({{superadmin-mail}}, {{superadmin-phone}}) som är den som har tilldelat dig rollen.</font></p>

<hr>

<p><font face="Arial, sans-serif">Detta är ett automatiskt meddelande från Friluftsfrämjandets resursbokning. Det går inte att svara på det.</font></p>